.ect-favicon-container {
    display: flex;
}

.ect-favicon-container input[type="file"] {
    display: inline-block;
    height: fit-content;
    margin-right: 15px;
    border: 1px solid #acacac;
    background-color: white;
    padding: 4px;
}

#ect-plugin-options-table tr {
    border: 1px solid #ccc;
}

#ect-plugin-options-table th, #ect-plugin-options-table td {
    padding: 10px;
}

#ect-plugin-options-table h4 {
    margin: 0 0 0.33em 0;
}